body, HTML {
    height: 100%;
    width: 100%;
    margin: 0;
}

.border{
    color: white;  
    font-family: 'Laila', serif;
    font-size: 32px;
}

#introtext {
    position: absolute;
    right: 0;
    top: 45%;
    width: 115%;
    text-align: center;
    overflow: hidden;
}

#introtext span.border {
    background-color: seagreen;
    opacity: .90;
    color: #fff;
    padding: 0px 5px ;
    font-size: 25px;
    letter-spacing: 10px;
  }

#titlebox {
    /*background-image: url("/../../Images/IMG_2222.JPG");*/
    background-image: url("https://i.imgur.com/WnBcQTb.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#socialinfo {
    text-align: center;
    font-family: 'Laila', serif;
    color: forestgreen;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#github, #instagram, #twitter, #linkedin {
    display: inline-block;
    padding: 30px;
}

#doingnow {
    text-align: center;
    font-family: 'Laila', serif;
    color: forestgreen;
}

#techelevator {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#teblurb {
    display: inline-block;
    height: 200px;
    width: 300px;
    padding-right: 20px;
}
