body, HTML {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #e2ffe5;
}

.border{
    color: white;  
    font-family: 'Laila', serif;
    font-size: 32px;
}

#introtext {
    position: absolute;
    right: 0;
    top: 45%;
    width: 115%;
    text-align: center;
    overflow: hidden;
}

#introtext span.border {
    background-color: seagreen;
    opacity: .90;
    color: #fff;
    padding: 0px 5px ;
    font-size: 25px;
    letter-spacing: 10px;
  }

  #clockcontainer {
      position: absolute;
      top: 90%;
      left: 2%;
      letter-spacing: 3px;
  }

#clockcontainer > div > span {
    background-color: seagreen;
    opacity: .90;
    color: #fff;
    font-size: 25px;
}

#clockcontainer > #hr, #min, #sec, #colon {
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

#titlebox {
    background-image: url(IMG_2222.jp2);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1125px) {
    #titlebox {
        background-image: url(IMG_2222_small.jp2);
    }
  }

#socialinfo {
    text-align: center;
    font-family: 'Laila', serif;
    color: #117528;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#github, #instagram, #twitter, #linkedin {
    display: inline-block;
    padding: 30px;
}

#doingnow {
    text-align: center;
    font-family: 'Laila', serif;
    color: #117528;
}

#techelevator {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#teblurb {
    display: inline-block;
    height: 200px;
    width: 300px;
    padding-right: 20px;
}

#Oblurb {
    display: inline-block;
    height: 100px;
    width: 300px;
    padding-right: 20px;
}
